/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color */
body {
    background-color: #000000;
    color: #330380;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #4c0269;
    color: #f8f8f8;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: #858484;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
/* Style the Portfolio button */
.portfolio-button {
    background-color: #9900e0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none; /* Remove underlines for links */
}

.portfolio-button:hover {
    background-color: #330380; /* Darker shade on hover */
}

.portfolio-button:focus {
    outline: none; /* Remove focus outline */
}

/* Style the Portfolio header link */
#portfolio h2 a {
    text-decoration: none; /* Remove underlines for links */
    color: #330380;
}

/* Style the Project List section */
#project-list {
    background-color: #210347;
    padding: 20px;
}

#project-list h2 {
    font-size: 1.5rem;
    color: #918f8f;
}

#project-list ul {
    list-style: none;
    padding: 0;
}

#project-list li {
    margin-bottom: 10px;
}

#project-list a {
    text-decoration: none;
    color: #330380;
    font-weight: bold;
    transition: color 0.2s;
}

#project-list a:hover {
    color: #330380;
}





/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}



